{% extends 'cagliaritour/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <style>
        html, body, .container-fluid, main, .linkholder, .mapholder, #map {
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden; /* Prevents scrolling */
        }

        #routeInfobox.collapsed {
            display: none;
        }

        .position-absolute {
            z-index: 10; /* Ensures overlay buttons are clickable */
        }
    </style>
    <script>
        jQuery.noConflict();
    </script>

    <div class="container-fluid">
        <main>
            <div class="linkholder" style="width: 100%;">
                <div class="mapholder position-relative" style="width: 100%;">
                    <div id="map"></div>

                    <!-- Overlay Buttons -->
                    <div class="position-absolute top-0 start-0 mt-7 ms-7" style="padding: 10px;">
                        <div class="btn btn-light btn-lg button-with-image"
                             id="collapseButton" onclick="showForm(true)" style="width: 180px; height: 90px">
                            <b class="button-text">Get your <br/>Guide </b>
                            <div height="35" width="50">
                                <img src="{% static 'images/hand_image.png' %}" alt="Image" class="button-image">
                            </div>
                        </div>
                        <!-- Overlay Form -->
                        <form>
                            {% csrf_token %}
                            <div class="accordion-body collapse" id="form">
                                <div class="card" style="height: 460px; width: 350px; margin: 0">
                                    <button type="button" class="btn btn-light"
                                            id="hideFormButton" onclick="showForm(false)">
                                        <strong style="font-size: 20px;">Get Your Guide <i
                                                class="fas fa-angle-down"></i></strong>
                                    </button>
                                    <div class="card-body">
                                        <!-- Form fields  -->
                                        <div class="form-group">
                                            <label for="id_departure_date">What is your departure day?</label>
                                            <input type="date" class="form-control" id="id_departure_date"
                                                   name="departure_date">
                                        </div>

                                        <div class="form-group">
                                            <label for="id_departure_time">What is your departure time?</label>
                                            <input type="time" class="form-control" id="id_departure_date"
                                                   name="departure_date">
                                        </div>

                                        <div class="form-group">
                                            <label for="id_moving_preference">How do you mainly prefer moving
                                                around?</label>
                                            <select class="form-control" id="id_moving_preference"
                                                    name="moving_preference">
                                                <!-- Options for moving preference go here -->
                                                <option value="DRIVING">Driving</option>
                                                <option value="TRANSIT">Bus</option>
                                                <option value="WALKING">Walking</option>
                                                <option value="BICYCLING">Bicycling</option>
                                            </select>
                                        </div>

                                        <div class="form-group">
                                            <label for="id_main_interests">What are your main interests?</label>
                                            <select multiple class="form-control" id="id_main_interests"
                                                    name="main_interests[]">
                                                <option value="nature">Nature and Outdoor Activities</option>
                                                <option value="culture">Cultural Experiences</option>
                                                <option value="adventure">Adventure Sports</option>
                                                <option value="food">Food and Culinary</option>
                                                <option value="history">Historical Sites</option>
                                                <option value="shopping">Shopping</option>
                                                <option value="other">Other</option>
                                            </select>
                                        </div>

                                        <div class="form-group text-center mt-4 mb-4">
                                            <button type="button" class="btn btn-primary btn-lg"
                                                    onclick="generateDayButtons()">Start
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>

                    <!-- Div for displaying the Days Button -->
                    <div id="daysContainerDiv">
                    <div class="position-absolute top-0 start-50 translate-middle d-flex align-items-center justify-content-center btn-light"
                         id="daysContainer" style="padding: 20px; margin: 20px;">
                    </div>

                    </div>

                    <!-- Div for displaying route information -->
                    <div class="position-absolute bottom-0 left-0 btn-light" id="routeInfoContainer">
                        <!-- div for displaying the info about route plan -->
                        <div id="routeInfobox"
                             style="width: 500px; height: 400px; border: 2px solid black; border-radius: 20px; position: relative; overflow-y: auto;">
                            <!-- Content of the collapsible div goes here -->
                        </div>
                    </div>

                    <!-- Clear route information button -->
                    <div class="position-absolute top-0 start-0 mt-7 ms-7" id="clear_button_Div" style="margin-top: 20px">
                        <button style="width: 180px; height: 50px; border-radius: 15px;" class="btn-light"
                                onclick="clearMap()">
                            <b style="font-size: 18px"><i class="fas fa-home"></i> Home </b>
                        </button>
                    </div>



                    <!-- Information button -->
                    <div class="position-absolute top-0 end-0 mt-7 me-7" style="padding: 10px;">
                        <button style="width: 300px; border-radius: 15px;" class="btn btn-light"
                                onclick="showWeatherCard()" id="collapseButtonInfo">
                            <b>Weather <i class="fas fa-angle-down"></i></b>
                        </button>
                        <div class="container bg-light" id="infoWindowBox"
                             style="height: 350px; width: 300px; border-radius: 15px; padding: 10px;">
                            <!-- weather info ends -->
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>

    <script async
            src="https://maps.googleapis.com/maps/api/js?key={{ key }}&loading=async&callback=initMap">
    </script>

    <script id="dateandtime" src="{% static 'cagliaritour/date_time.js' %}"></script>
{% endblock %}
